@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#navigation_bar
{
  background-color: white;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 500 !important;
  shadow: none !important;
}
.menu_active{
  border-bottom: 2px solid black !important;
  
}
.nav-link{
  color: black !important;
}
/* .pl-5, .px-5 {
  padding-left: 1rem !important;
} */


.table td
{
  font: size 15px;
  font-family: 'Nunito', sans-serif !important;
}

.table th
{
  font-size: 18px;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 600;
}

.ground-img{
  transition:0.5s;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.ground-img:hover{
  transform: scale(0.8);
}

#addcontentfooter
#addcard
{
  
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  background-color:#ffffff;
}
#hrline
{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 30%;

}
#hrline1
{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 30%;

}
#summary
{
  background:#40ad6d;
  color:honeydew;
  font-family: 'Nunito'}

#samecolor
{
  background-color:lightgrey
}
#batting{
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
 
  
}

#Basball{
  color: white;
  letter-spacing: 3px;
  font-family: 'Nunito', sans-serif;
  
}
#Basball-heding{
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: bold;
}
.paragraph{
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.section-three{
  background-image: linear-gradient(to bottom, #40ad6d , white);
}
.paralax{
  background-image: url('.//assets/f.jpg');
  width: 100%;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.paralax-two{
  background-image: url('.//assets/paralaxtwo.jfif');
  width: 100%;
  height: 100vh; 
  font-size: 28px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
 
}
.section-six{
  background-image: linear-gradient(to bottom, #40ad6d , white);

}
.formStyle { 
  background-color: #ffffffcc;
  padding: 10px; 
  width: 100%; 
  margin-bottom: 20px; 
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: #000000; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 12px;
  font-weight: 100;
  font-family: 'Nunito', sans-serif;
  color: #000000;
}

/*To remove the outline that appears on clicking the input textbox*/
input:focus {
  outline: none;
}
#payment_container
{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
 
}
#fixed-height
{
  height: 250px;
  overflow-y: scroll ;
 
  

}
#slot-timings
{
  height: 250px;
  overflow-y: scroll;
}

/*apply media query on table and width of the input tah in the payment page*/   
#payment{
 
  box-shadow: 15px 15px 13px 6px rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}
.hed{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
 
 }

.description{
  font-family: 'Nunito', sans-serif;
  font-size: 20px !important;
}

#successbtn{
  background-color: transparent !important;
  color: black;
  font-family: 'Nunito', sans-serif;
  
  padding: 10px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius:32px;
  border: 1px solid #76b440;
}
#successbtn:hover{  
  color: white;
  background-color: #76b440 !important;
}
#dinger-heding{
  color: black;
  font-size: 20px;
  line-height: 1.4;  
  font-family: 'Archivo Black', sans-serif;
  
}
.Contact_info{
  font-size: 30px;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(89, 89, 89);
  font-family: 'Montserrat', sans-serif; 
  
}
.Contact_info1{
  font-size: 22px;
  color: rgb(89, 89, 89);
  font-family: 'Montserrat', sans-serif;
}
.footer_content{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(89, 89, 89);
  font-family: 'Montserrat', sans-serif; 
}
.footer_content_section{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(89, 89, 89);
  font-family: 'Montserrat', sans-serif; 
  border-bottom: 1px solid red;
  margin: 30px;
}
#img-first{
  transition: 0.50s;
}
#img-first:hover{
  transform: scale(1.2);
}
 .Foot-cage{
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}

 .Foot-cage-paragraph{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(94, 94, 94);
  font-family: 'Montserrat', sans-serif;
 }
 .Foot-cage-price{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(94, 94, 94);
  font-family: 'Montserrat', sans-serif;
 }
 #cage-row{
  transition: 0.10s;
}

#book-btn{
  background-color: #40ad6d !important;
  font-family: 'Nunito', sans-serif;
}
#Book-cage{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.Contact-heading{
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
#calender
{
  border: 2px solid black;
  border-style: inset;
  padding-top: 20px;
  
}
#contactus-section{
  width: 100%;
  height: 100vh;
  background-color: white;
}
#payment-container{
  box-shadow: rgba(0, 0, 0, 0.35) 14px 18px 23px;
  border-radius: 10PX;
  border: 1px solid rgb(233, 224, 224);
  font-family: 'Nunito', sans-serif;
  color:#2d3436;
  font-weight: bold;
}
#Done-btn{
  color:red;
  background-color: white;
  box-shadow: inset;
  border-radius: 30px;
  border:1px solid red
  
}
#Done-btn:hover
{
  background-color: rgb(194, 43, 43);
  color:white;
  border-radius: 30px;
}
#listing
{
  user-select: none;
}
@media (max-width: 1400px) {
  #calender {
    font-size: 8px !important;
    border: 2px solid black;
  }
}
.animated{
  box-shadow: rgba(170, 169, 169, 0.8) 0px 30px 60px -12px inset, rgba(41, 200, 82, 1) 0px 18px 36px -18px inset;
   border-radius: 5px;
}
.Rent_img{
  width: 200px;
  height: 100px;
}

#sendbutton
{
  color:red;

  background-color: white;
  box-shadow: inset;
  border-radius: 30px;
  border:1px solid red
}
#sendbutton:hover
{
  background-color: rgb(194, 43, 43);
  color:white;
  border-radius: 30px;

}
#submit
{
  color:red;
  background-color: white;
  box-shadow: inset;
  border-radius: 30px;
  border:1px solid red
  
}
#submit:hover
{
  background-color: rgb(194, 43, 43);
  color:white;
  border-radius: 30px;
}

.booking-summary{
  width: fit-content;
}


#table
{
  padding-top: 0px;
  margin-top: 0px;
}
#addcard_button
{
  color:red;
  background-color: white;
  box-shadow: inset;
  border-radius: 30px;
  border:1px solid red
}
#addcard_button:hover
{
background-color: rgb(194, 43, 43);
color:white;
border-radius: 30px;
}
#addcard_button_link
{
  color:red
}
#addcard_button_link:hover
{
  color:white
}
#close
{
  color:red;
  background-color: white;
  box-shadow: inset;
  border-radius: 30px;
  border:1px solid red
}
#close:hover
{
background-color: rgb(194, 43, 43);
color:white;
border-radius: 30px;
}