#navigation_bar
{
  background-color: #6351ce;
}
.table td
{
  font-size:16px;
}
.table th
{
  font-size: 20px;
}

.ground-img{
  transition:0.5s;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.ground-img:hover{
  transform: scale(0.8);
}

#whole-ground
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background-color: lightgrey
}
#G-1
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .5);
  background-color: #6351ce
}
#G-2
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .5);
  background-color: #6351ce
}

#G-3
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .5);
  background-color: #6351ce
}

#G-4
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .5);
  background-color: #6351ce;
}


#addcontent
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .5);
}
#addcard
{
  border-radius: 30px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  background-color:whitesmoke;
}
#hrline
{
  border-bottom: 1px solid rgb(112, 112, 112);
  
}
#hrline1
{
  border-bottom: 1px solid white;
  
}
#summary
{
  background:#6351ce;
  color:honeydew
}
#addcartsection
{
  background-color: rgb(192, 189, 189);
}
.table4
{
  background-color: #6351ce;
}
.table1
{
  background-color: lightgrey
}
#samecolor
{
  background-color:lightgrey
}
#batting{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
 
  
}

#Basball{
  color: white;
  letter-spacing: 3px;
}
.paragraph{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.section-three{
  background-image: linear-gradient(to bottom, #6351ce , white);
}
.paralax{
  background-image: url('.//assets/f.jpg');
  width: 100%;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.paralax-two{
  background-image: url('.//assets/paralaxtwo.jfif');
  width: 100%;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.question{
  font-size: 28px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
}
.questiontwo{
  font-size: 28px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 
}
.section-six{
  background-image: linear-gradient(to bottom, #6351ce , white);

}
.formStyle { 
  background-color: #ffffffcc;
  padding: 20px; 
  width: 400px; 
  margin-bottom: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: #6351ce; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 1em;
  font-weight: 100;
  color: #000000;
}

/*To remove the outline that appears on clicking the input textbox*/
input:focus {
  outline: none;
}
#payment_container
{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
#fixed-height
{
  height: 580px;
  overflow-y: scroll;
}
#slot-timings
{
  height: 300px;
  overflow-y: scroll;
}

/*apply media query on table and width of the input tah in the payment page*/   
#payment{
 
  box-shadow: 15px 15px 13px 6px rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}
.hed{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
 
 }

.description{
  font-family: 'Poppins', sans-serif;
  font-size: 20px !important;
}

#successbtn{
  background-color: transparent !important;
  color: black;
  
  padding: 10px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius:32px;
  border: 1px solid #76b440;
}
#successbtn:hover{
  color: white;
  background-color: #76b440 !important;
}
#dinger-heding{
  font-family: 'Poppins', sans-serif;
}
#img-first{
  transition: 0.50s;
}
#img-first:hover{
  transform: scale(1.2);
}
 .Foot-cage{
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
 }
 .Foot-cage-paragraph{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
 }
 .Foot-cage-price{
   font-size:22px;
   font-family: 'Poppins', sans-serif;
 }
 #cage-row{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
  transition: 0.10s;
}
#cage-row:hover{
  border-left: 5px solid #6351ce;
}
#book-btn{
  background-color: #6351ce !important;
}
#Book-cage{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.Contact-heading{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
